.socialmedialogo{
    height: 90px;
    width: 110px;
    alt: "";
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.skillslogo{
    height: 250px;
    width: 100%;
    alt: "";
}

.button-hover:hover{
    background-color:rgb(44, 87, 104);
}

body{
    background-color: rgba(204, 222, 236, 0.582);
}

.card-hover:hover{
    background-color: bisque;
}